//表格
.account-right-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
}

.el-select-dropdown .el-scrollbar .el-scrollbar__wrap {
    overflow: scroll!important;
}

.mb15 {
    margin-bottom: 15px;
}

.el-button {
    i {
        font-size: 15px;
    }
    padding: 8px 20px;
}

.el-menu-item.is-active {
    background-color: #4884ff !important;
}

.attribute {
    width: 400px;
    padding: 20px 30px 20px 20px;
    height: 100%;
    border-left: 1px solid gainsboro;
     ::v-deep .el-form-item__label {
        line-height: 10px;
    }
}

.select-option {
    display: flex;
    i {
        display: inline-block;
        line-height: 36px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        width: 30px;
    }
    .add-option {
        color: #22b573;
    }
    .del-option {
        color: #f56d6d;
    }
    .link-option {
        color: #e7a544;
    }
}

.table-btn {
    padding: 0px 5px;
    i {
        font-size: 18px !important;
    }
}

.btn-add {
    color: #4884ff !important;
}

.btn-edit {
    color: #ffba00 !important;
}

.btn-del {
    color: #f56c6c !important;
}

.el-input-group__append {
    border-color: #6d9dff !important;
    color: #fff !important;
    background-color: #4884ff !important;
}

.el-input-group__prepend {
    background-color: #ffffff !important;
}

.el-input-group__append {
    color: #fff;
    background-color: #4884ff;
    border-color: #4884ff;
}

.el-input-group__append:hover {
    background: #6d9dff;
    border-color: #6d9dff;
    color: #fff;
}

.el-dialog__header {
    border-bottom: 1px solid #f5f5f5;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #909090;
    font-size: 25px;
}

.el-table {
    th {
        background-color: #EEF0F7 !important;
    }
    td {
        padding: 8px 0;
    }
}

.g-container {
    width: 100%;
    height: 100%;
    // overflow-y: auto;
    // overflow-x: hidden;
}

.el-tabs--border-card {
    border: none;
}

.el-card {
    height: 100%;
}

.el-card__body {
    height: 100%;
}

.el-scrollbar__wrap {
    overflow-x: hidden !important;
}

.el-tree-node__content {
    position: relative;
    z-index: 1;
    height: 38px;
    padding-left: 0 !important;
}

.tree .el-tree-node__expand-icon.expanded {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.tree .el-icon-caret-right {
    font-size: 12px;
    color: #535353;
}

.tree .el-tree-node>.el-tree-node__children {
    overflow: inherit;
}

.tree .el-tree-node__expand-icon {
    border: 1px solid #787878;
    margin: 0 5px 0 4px;
}

.tree .el-tree-node__content>.el-tree-node__expand-icon {
    padding: 1px;
    background: #fff;
}

.tree .el-tree-node__expand-icon.is-leaf {
    // display: none;
    padding: 2px;
    border: none;
    background: transparent;
    color: transparent;
}

.tree .el-icon-caret-right:before {
    content: "\E6D9";
}

.tree .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
    content: "\E6D8";
}

.tree .el-tree-node {
    position: relative;
    // padding-left: 16px;
}

.tree .el-tree-node__children {
    padding-left: 16px;
}

.tree .el-tree-node :last-child:before {
    height: 38px;
}

.tree .el-tree>.el-tree-node:before {
    border-left: none;
}

.tree-container .el-tree>.el-tree-node:after {
    border-top: none;
}

.tree .el-tree-node:before {
    content: "";
    left: -4px;
    position: absolute;
    right: auto;
    border-width: 1px;
}

.tree .el-tree-node:after {
    content: "";
    left: -4px;
    position: absolute;
    right: auto;
    border-width: 1px;
}

.tree .el-tree-node:before {
    border-left: 1px dashed #868686;
    height: 100%;
    top: -20px;
    left: -4px;
    width: 1px;
}

.tree .el-tree-node:after {
    border-top: 1px dashed #868686;
    height: 20px;
    top: 18px;
    width: 24px;
}